<%= form_for(@replay) do |f| %>
  <% if @replay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@replay.errors.count, "error") %> prohibited this replay from being saved:</h2>

      <ul>
      <% @replay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_area :source %>
  </div>
  <div class="field">
    <%= f.label :attribution %><br />
    <%= f.text_field :attribution %>
  </div>
  <div class="field">
    <%= f.label :userId %><br />
    <%= f.number_field :userId %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :screenshotPath %><br />
    <%= f.text_area :screenshotPath %>
  </div>
  <div class="field">
    <%= f.label :dataPath %><br />
    <%= f.text_area :dataPath %>
  </div>
  <div class="field">
    <%= f.label :statusId %><br />
    <%= f.number_field :statusId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
