<%= javascript_tag do %>
	var replayData=<%= raw @replaydata %>;
<% end %>

<%= javascript_include_tag "replay" %>

<div class="row-fluid">
	<div class="span12 text"><h3><%= @replay.name %><h3></div>
</div>

<div class="row-fluid">
   <div id="map_canvas" class="span12">map goes here</div>
</div>

<div class="row-fluid">
   <div class="span8"> <!-- info -->
	<div class="row-fluid">
		<div class="span2 small-text">Description:</div>
		<div class="span10"><%= @replay.desc %></div>
	</div>
	<div class="row-fluid">
		<div class="span2 small-text">Source:</div>
		<div class="span10"><%= @replay.source %></div>
	</div>
	<div class="row-fluid">
		<div class="span2 small-text">Replay creator:</div>
		<div class="span10"><%= @replay.attribution %></div>
	</div>
	<div class="row-fluid">
		<div class="span2 small-text">Length:</div>
		<div class="span10"><%= @replay.length %> seconds</div>
	</div>
   </div>
   <div class="span4"> <!-- stats -->
	<div class="row-fluid">
		<div class="span2 small-text">Views:</div>
		<div class="span10">TBD</div>
	</div>
	<div class="row-fluid">
		<div class="span2 small-text">Likes:</div>
		<div class="span10">TBD</div>
	</div>
   </div>
</div>

<p>

<%= link_to 'Edit', edit_replay_path(@replay) %> |
<%= link_to 'Back', replays_path %>
