<!DOCTYPE html>
<html>
<head>
  <title>GeoReplay</title>
  <%= stylesheet_link_tag "application", :media => "screen" %>
  <%= stylesheet_link_tag "bootstrap.min", :media => "screen" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= javascript_include_tag "bootstrap.min" %>
<div class="row-fluid">
	<div id="headerRow" class="span12"><table width="100%"><tr><td width="70%" align="left" valign="center"><%= link_to "Geo Replay", replays_path, { :class=>"headerLink bigtext" } %> <%= image_tag "history_replay_logo.png" %></td><td width="30%" align="right">
<% if user_signed_in? %>
	<%= link_to('New Replay', new_replay_path, {:class=>"headerLink" }) %> /
	<%= link_to('Logout', destroy_user_session_path, {:method => :delete, :class=>"headerLink" }) %> /
  <%= link_to('Account', edit_user_registration_path, { :class=>"headerLink" }) %>
<br/>
<div class="small-text">Logged in as <%= current_user.email %></div>
<% else %>
  <%= link_to('Login', new_user_session_path, { :class=>"headerLink" })  %> /
  <%= link_to('Register', new_user_registration_path, { :class=>"headerLink" })  %>
<% end %>
</td></tr></table>
   </div>
</div>

<div style="padding-left: 5pt;">

  <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>

<%= yield %>
</div>
</body>
</html>
